<nav class="site-header sticky-top py-1 btn-block">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a routerLink="/vistabodeguero">

            <!-- Carga imagen -->
            <img [src]="logo" alt="Logo TECbox" class="logo">
        </a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionpaquetes">Gestión de paquetes</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionrastreopaquetes">Gestión de rastreo de paquetes</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/">Cerrar Sesión</a>
    </div>
</nav>