<!-- Lista de algunos íconos de empresas alineados horizontalmente -->
<div class="col-sm-12 my-5 text-center">
    <ul class="list-unstyled list-inline mt-5">
        <!-- Walmart -->
        <li class="list-inline-item mt-2">
            <a href="https://www.walmart.com/">
                <img [src]="walmart" alt="walmart" class="logo2">
            </a>
        </li>
        <!-- Universal -->
        <li class="list-inline-item mt-2">
            <a href="https://tiendauniversal.com/">
                <img [src]="universal" alt="universal" class="logo2">
            </a>
        </li>
        <!-- P&G -->
        <li class="list-inline-item mt-2">
            <a href="https://us.pg.com/">
                <img [src]="pandg" alt="pandg" class="logo2">
            </a>
        </li>
        <!-- Kelloggs -->
        <li class="list-inline-item mt-2">
            <a href="https://www.kelloggs.com/en_US/home.html">
                <img [src]="kellogg" alt="kellogg" class="logo2">
            </a>
        </li>
        <!-- Nestle -->
        <li class="list-inline-item mt-2">
            <a href="https://www.nestle.com/">
                <img [src]="nestle" alt="nestle" class="logo2">
            </a>
        </li>
    </ul>

</div>

<!-- Año de producción-->
<div class="col-sm-12 my-1">
    <p class="mt-5 mb-3 text-center" style="color: aliceblue">&copy; 2020</p>
</div>