<app-barra-bodeguero></app-barra-bodeguero>
<header class="container my-5">

    <div class="row">
        <div class="col-sm-12 my-1">
            <h1 class="display-4 text-uppercase text-center mt-1" style="color: aliceblue;">Gestión de Paquetes</h1>
            <button (click) = "getPaquetes()"> 
            Track</button>
            <div *ngFor = "let paquete of paquetes |
            async">
                                
                {{ paquete | json }}   
                                
            </div>
            <hr>
            <app-piepagina></app-piepagina>
        </div>
    </div>
</header>