<nav class="site-header sticky-top py-1 btn-block">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a routerLink="/vistaadministracion">

            <!-- Carga imagen -->
            <img [src]="logo" alt="Logo TECbox" class="logo">
        </a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionroles">Gestión de Roles</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionsucursales">Gestión de Sucursales</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestiontrabajadores">Gestión de Trabajadores</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionvendedores">Gestión de Vendedores</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionproductos">Gestión de Productos</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/gestionrutas">Gestión de Rutas</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/">Cerrar Sesión</a>
    </div>
</nav>